* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #050038;
}

body {
    margin: 0%;
}

nav {
    padding: 50px 33px;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: 60px;
}

nav ul {
    padding: 0;
    margin: 0;
}



*::selection {
    background-color: rgb(21, 179, 140);
    color: #ffffff;
}

nav ul,
footer ul {
    list-style: none;
}






.url {
    color: #4262FF;
    font-size: 18px;
}

.url:hover {
    color: #050038;
}

section {
    margin-left: 40px;
}

h1 {
    font-size: 48px;
    font-weight: 500;
    margin: 0 0 17px 0;

}

#mainPar {
    margin: 0 0 55px 0;
}

#emailForm input {
    width: 440px;
    height: 48px;
    border: 1px solid #9B99AF;
    border-radius: 32px;
    padding: 5px 10px;
}

#regButton {
    width: 440px;
    background: #4262FF;
    height: 58px;
    border-radius: 32px;
    border: none;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 18px;
    padding: 5px 10px;
}

#regButton:hover {
    background-color: #050038;
}


h2 {

    font-size: 48px;
    font-weight: 500;
    margin-bottom: 20px;
}

.samePar {
    color: rgba(5, 0, 56, 0.6);
    margin-bottom: 40px;
}

#smallPar {
    font-size: 14px;
    margin: 8px 0 50px 0;
}

nav a {
    text-decoration: none;
}

.sectionList li {
    margin-bottom: 15px;
}

.sectionList li::marker {
    content: url(../images/yes.svg);

}



footer {
    background: #050038;
    padding: 45px 40px
}

footer a {
    text-decoration: none;
    color: #ffffff;
    ;
}